@import '../../style'
  
.calendar
  @include reset-list
  display: grid
  margin-top: 290px
  margin-bottom: 20px
  grid-template-columns: repeat(3, 110px)
  gap: 7px
  justify-content: center

  &__item
    display: flex

  &__day-wrapper
    display: grid
    min-height: 130px
    padding: 0 5px 9px
    grid-template-columns: 56px 44px
    justify-content: center
    align-items: center
    justify-items: center
    border-radius: 6px
    color: $white

    &--inactive
      background: #d9d9d9
      color: #c0c0c0

    &--selected
      opacity: 0.3

    &--partly-out
      border-left: 5px solid $color-card-absent
      padding-left: 0

    &--partly-in
      border-right: 5px solid $color-card-absent
      padding-right: 0

    &--partly-in-out
      border-inline: 5px solid $color-card-absent
      padding-inline: 0
      & .calendar__extra
        max-width: 62px

  &__day
    margin: 0
    font-size: 48px
    line-height: 1
    font-family: $main-font
    font-weight: 700

  &__inner-wrapper
    font-size: 12px
    line-height: 1
    font-weight: 700

    & p
      margin: 0

  &__hebrew-date
    grid-column: 1 / -1
    font-size: 10px
    text-align: center

    &::after
      display: block
      width: 92px
      height: 1px
      margin-top: 3.5px
      background-color: $white
      content: ""

  &__btn
    margin: 6.5px 0 5px
    padding: 0
    background-color: transparent
    border: none
    border-radius: 50%
    grid-column: 1 / -1
    cursor: pointer

    &[data-btn-type="locked"]
      pointer-events: none

    &--disabled
      pointer-events: none

  &__extra
    min-height: 12px
    grid-column: 1 / -1
    margin: 0
    font-size: 12px
    line-height: 1
    font-weight: 600

  &__day-wrapper--inactive .calendar__hebrew-date::after
    background-color: #c0c0c0

  &__submit-btn
    display: block
    margin: 0 auto
    padding: 10px 20px
    background-color: transparent
    color: $gray
    border: 1px solid #999999
    border-radius: 24px
    font-size: 16px
    font-family: $secondary-font
    line-height: 22px
    cursor: pointer

  &__day-setting
    position: fixed
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 24px 10px 10px
    background-color: #fdfdfd
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25)
    transition: 0.3s

    &[data-show="hidden"]
      transform: translateY(80px)

    &[data-show="step-one"]
      transform: translateY(40px)

    &[data-show="step-two"]
      transform: translateY(0)

  &__setting-toggler
    position: relative
    top: -12px
    display: block
    width: 60px
    height: 5px
    content: ""
    background-color: #959595
    border-radius: 8px

  &__buttons-wrapper
    display: flex
    gap: 10px
    justify-content: center
    align-items: center


  &__setting-btn
    position: relative
    min-width: 107px
    padding: 5px 8px
    padding-right: 30px
    margin-bottom: 15px
    border-radius: 12px
    background-color: transparent
    outline: none
    font-size: 12px
    line-height: 14px
    text-align: start
    cursor: pointer

    &::before
      position: absolute
      top: 3px
      right: 3px
      display: block
      width: 18px
      height: 18px
      background-size: 18px 18px
      background-position: center
      background-repeat: no-repeat
      content: ""

    &--full
      border: 1px solid $color-card-default
      color: $color-card-default

      &::before
        background-image: url("../../img/icons/btn-available.svg")

      &-active
        background-color: $color-card-default
        color: $white

        &::before
          background-image: url("../../img/icons/available.svg")

    &--partly
      border: 1px solid $color-card-partly
      color: $color-card-partly

      &::before
        background-image: url("../../img/icons/btn-partly.svg")

      &-active
        background-color: $color-card-partly
        color: $white

        &::before
          background-image: url("../../img/icons/clock.svg")

    &--unavailable
      padding-right: 25px
      border: 1px solid $color-card-absent
      color: $color-card-absent

      &::before
        background-image: url("../../img/icons/btn-unavailable.svg")

      &-active
        background-color: $color-card-absent
        color: $white

        &::before
          background-image: url("../../img/icons/unavailable.svg")

  &__set-time__text
    font-size: 12px
    color: $gray
    margin-left: 5px

  &__set-time__trigger
    position: relative
    border-radius: 12px
    padding: 5px 15px 5px 48px
    background-color: transparent
    border: 0.5px solid $gray
    color: $gray
    font-size: 12px
    cursor: pointer

    &::after
      position: absolute
      top: 8px
      left: 10px
      display: block
      width: 9px
      height: 7px
      content: ""
      background-image: url("../../img/icons/triangle.svg")
      background-size: 9px 7px
      background-position: center
      background-repeat: no-repeat

    &[data-time-btn='daily-exit']
      margin-left: 15px