@import '../../style'

.header
  position: sticky
  top: 0
  width: 100%
  pointer-events: none
  z-index: 10

  &__top
    position: relative
    z-index: 7

  &__title-wrapper
    background-color: $gray
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)

  &__title
    display: flex
    padding: 16px 23px
    margin: 0
    align-items: center
    gap: 16px
    font-size: 20px
    color: $white
    &::before
      display: inline-block
      content: ""
      width: 24px
      height: 24px
      background-image: url("../../img/icons/clock.svg")
      background-size: 24px 24px
      background-position: center

  &__content-wrapper
    position: relative
    padding: 5px 13px
    background-color: $white
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
    z-index: 5
    transition: 0.5s

    &--collapsed
      transform: translateY(-120px)

  &__subtitle
    margin: 0
    padding-top: 15px
    padding-right: 15px
    font-weight: 700
    font-size: 20px
    background-color: $white
    &::after
      display: block
      margin-top: 5px
      margin-right: -8px
      height: 1px
      width: 100%
      background-color: #d9d9d9
      content: ""

  &__description
    display: grid
    grid-template-columns: 18px auto
    font-size: 12px
    line-height: 14px
    color: $light-gray

    & b
      display: contents

    &::before
      display: block
      content: ""
      background-position: center
      background-repeat: no-repeat
      
    &:first-of-type::before
      width: 15px
      height: 15px
      background-image: url("../../img/icons/attention.svg")
      background-size: 15px 15px
      transform: rotate(20deg)
      
    &:last-of-type::before
      width: 12px
      height: 12px
      background-image: url("../../img/icons/info.svg")
      background-size: 12px 12px
      
    &--summary
      padding-right: 18px
      margin: 15px 0 5px
      font-size: 16px
      font-weight: 700
      color: $dark-gray