@import '../../style'

td, th
  padding: 0
  border: 1px solid $light-gray
  text-align: center
  user-select: none

th:last-child
  height: 0px
  border-top: none
  background: $white

th
  min-width: 260px
  height: 60px

.schedule
  position: relative
  display: grid
  grid-template-columns: 70px auto 1fr
  grid-template-rows: auto 2fr 1fr
  align-items: center
  justify-items: center
  font-family: $admin-font
  // overflow: hidden

  &__table-container
    overflow-x: auto

  &-section
    position: relative

  &__title
    position: fixed
    top: 0
    right: 0
    display: flex
    align-items: center
    gap: 20px
    width: 100%
    margin: 0
    padding: 15px 0
    padding-right: 35px
    grid-column: 1/-1
    grid-row: 1/2
    font-size: 25px
    background-color: $user-available-bg
    z-index: 10
    & span
      position: relative
      // border: 2px solid $white
      border-radius: 50%
      z-index: 2
      &::before
        display: block
        width: 60px
        height: 60px
        border: 1px solid $admin-date-gray
        border-radius: 50%
        background-image: url("./../../logo.svg")
        background-size: 48px 48px
        background-repeat: no-repeat
        background-position: center
        background-color: $logo-gray
        border: 1px solid $logo-border-black
        content: ''
      &::after
        position: absolute
        display: block
        background-color: $white
        border: 1px solid $admin-date-gray
        border-radius: 50%
        width: calc(100% + 4px)
        height: calc(100% + 4px)
        top: -2px
        left: -2px
        z-index: -1
        content: ''
        

  &__mission-btn
    position: absolute
    transform: translateY(-50%)
    border: none
    background-color: transparent
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
    &--add
      right: 12px
      top: 30px
      background-image: url("../../img/icons/add-mission.svg")
      background-size: 14px 14px
    &--remove
      top: 50%
      left: 12px
      display: block
      width: 10px
      height: 10px
      background-image: url("../../img/icons/close-cross.svg")
      background-size: 10px 10px
      background-repeat: no-repeat
      background-position: center
    &:focus-visible
      outline: none

  &__head
    position: fixed
    top: 90px
    // right: 150px
    z-index: 10

  &__fixed-header
    position: fixed
    top: 90px
    display: flex
    z-index: 10
    &-cell 
      min-width: 260px
      height: 60px
      background: linear-gradient(to bottom, #ffffff 0 10px, #d9d9d9 10px 50px, #ffffff 50px 60px)
      padding: 0
      border-bottom-color: $gray
      border-inline: 1px solid $light-gray
      display: flex
      justify-content: center
      align-items: center
    


  &__column-name
    margin: 0
    font-weight: 400
    font-size: 18px
    padding: 0 40px
    &__container
      background: linear-gradient(to bottom, #ffffff 0 10px, #d9d9d9 10px 50px, #ffffff 50px 60px)
      padding: 0
      border-bottom-color: $gray
      border-inline: 1px solid $light-gray
      &--last
        position: relative
        width: 100%
    &__wrapper
      position: relative
      display: flex
      justify-content: center

  &__table
    height: 100vh
    padding: 0 20px
    margin-top: 150px
    border-collapse: collapse
    grid-column: 2/3
    grid-row: 2/-1

  &-date__timer
    position: absolute
    width: calc(100% - 80px)
    height: 1px
    margin: 0
    background-color: #ff0000
    left: 0%
    z-index: 5
    &::before
      position: absolute
      top: calc(-100% - 3px)
      right: -5px
      display: block
      background-image: url("../../img/icons/timer-icon.svg")
      width: 13px
      height: 9px
      background-size: initial
      content: ''

  &-date__wrapper
    display: flex
    height: calc(100% - 150px)
    width: 100%
    flex-direction: column
    padding: 0
    margin: 0
    margin-top: 150px
    border: 1px solid $black
    justify-content: center
    align-items: center
    user-select: none
    grid-row: 2 / -1
    background-color: $admin-date-gray

  &-date
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__item
      margin: 0
      line-height: 20px
      &--hebrew-day
        font-size: 12px
        font-weight: 800
      &--day
        margin: 5px 0
        font-weight: 800
        font-size: 30px
      &--month
        font-size: 12px
        font-weight: 800
      &--hebrew
        font-size: 10px

  &-hours
    &[data-hour='0'] &__row::before
      top: 0
      background-color: $gray

    &[data-hour='0'] span
      font-size: 20px
      color: $gray
      top: -30%
    &__cell
      min-width: 260px
      max-width: 280px
      height: 43px
      &--last
        max-width: none
        width: 100vw

      &:hover
        background-color: $user-unavailable-bg
    &__row
      position: relative
      min-width: 80px
      padding: 4px 10px
      color: $light-gray
      &::before
        position: absolute
        display: block
        left: 0
        top: -1%
        background-color: $admin-date-gray
        height: 1px
        width: 10px
        z-index: -1
        content: ''
      &:first-child
        border: none
      & span
        position: absolute
        top: -25%
        left: 15%

  &-days
    padding: 0 10px
    width: 65vw

  &-users
    &__wrapper
      position: fixed
      top: 90px
      left: 0
      display: flex
      transition: 0.5s
      z-index: 30
    &__content
      padding: 70px 46px
      padding-top: 20px
      background-color: $admin-date-gray
      display: flex
      flex-direction: column
      z-index: 10
    &__description
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: -20px
      background-color: $admin-date-gray
      &::after
        position: absolute
        bottom: 0
        left: 0
        display: block
        width: 100%
        height: 2px
        background-color: $white
        content: ''
    &__title
      font-size: 18px
      font-weight: 400
      user-select: none
    &__btn-wrapper
      display: flex
      gap: 16px
    &__btn
      display: flex
      padding: 4px 7px
      justify-content: center
      align-items: center
      gap: 4px
      color: $white
      font-size: 18px
      border: none
      border-radius: 6px
      transition: 0.3s
      cursor: pointer
      &:hover
        opacity: 0.6
      &::before
        display: block
        width: 22px
        height: 17px
        background-size: initial
        background-repeat: no-repeat
        background-position: center
        content: ''
      &--add
        background-color: $add-soldier-blue
        &::before
          background-image: url("../../img/icons/add-soldier.svg")
          
      &--remove
        background-color: $color-card-absent
        &::before
          background-image: url("../../img/icons/remove-soldier.svg")
    &__block
      display: flex
      min-width: 360px
      padding: 2px 0
      justify-content: center
      background-color: $white
      border-radius: 6px
      box-shadow: 0 0 2px 0 inset mix($black, $white, 75%)
      transition: 0.5s

  &__users
    @include reset-list
    display: flex
    flex-direction: column
    width: 300px
    min-height: 400px
    max-height: 580px
    overflow: scroll
    padding: 20px
    grid-row: 1 / 2
    grid-column: 3 / -1
    gap: 20px

  &__btn-wrapper
    z-index: 5

  &__toggle-btn
    position: absolute
    right: 0
    top: 50%
    transform: translate(calc(100% - 6px), -50%)
    border: none
    background-color: transparent
    cursor: pointer
    z-index: 10
    &::before
      position: absolute
      display: block
      width: 20px
      height: 120px
      background-color: #ca2f2f
      z-index: 5
      content: ""
      left: -15px
      box-shadow: 3px 0 10px 0px rgba(0, 0, 0, 0.2)
    &::after
      position: absolute
      top: 50%
      left: 50%
      display: block
      width: 12px
      height: 20px
      transform: translate(-50%, -50%)
      transition: 0.3s
      background-image: url("../../img/icons/user-list-triangle.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: initial
      content: ''
    &[data-opened='true']::after
      transform: translate(-50%, -50%) rotate(180deg)
    &:focus-visible
      outline: none