$color-card-default: #559b2d
$color-card-absent: #ff0000
$color-card-partly: #ffa500
$add-soldier-blue: #0064fa
$white: #ffffff
$user-available-bg: #fbfbfb
$user-unavailable-bg: #f2f2f2
$gray: #999999
$light-gray: #c0c0c0
$admin-date-gray: #d9d9d9
$logo-gray: #d1d3d4
$logo-border-black: #231f20
$dark-gray: #555555
$black: #000000

$main-font: "Roboto", "Arial", sans-serif
$secondary-font: "Open-Sans", "Arial", sans-serif
$admin-font: "Inter", "Arial", sans-serif

@mixin reset-list
  padding: 0
  margin: 0
  list-style-type: none

*,
*::before,
*::after
  box-sizing: border-box

html
  height: 100%

body
  display: flex
  min-height: 100%
  flex-direction: column
  margin: 0
  font-family: $main-font
  direction: rtl
  background-color: $white

.visually-hidden 
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden